%h1 
  %span= t('title.register')

= simple_form_for @user, :url => register_path do |u|
  .observator
    = t('observator.register.introduction')

  .col-50
    %h2= t('hero')

    = u.simple_fields_for :hero do |h|
      = h.input :firstname

      = h.input :lastname

      = h.input :nation, :collection => Nation::NAMES.map { |name| [ t(name, scope: 'nations'), name ] }

      = h.input :race, :collection => Race::NAMES[h.object.nation || 'klum'].map { |name| [ t(name, scope: 'races'), name ] }

      = h.input :sex, :collection => Hero::SEX

  .col-50
    %h2= t('avatar')
    
    .avatar
      = image_tag 'avatar/sample.png'

    %h2= t('connection')

    = u.input :email

    = u.input :password

    = u.input :password_confirmation

  .col-100
    .field
      = raw t('rules_agreement', :rules_link => link_to(t('rules_link'), rules_path))

    = u.submit "S'inscrire"