%h1
  %span Test de rendu
  
.col-100

  - height = 26
  - width = 48
  - width_map = 24
  - offset_width  = (width_map * 2 - 2) * 0.75 * width / 2
  - pixel_width  = offset_width * 2 + width
  - pixel_height = height * width_map

  %h2 Prototype n°2
  %h3 Caractéristiques
  \ - Base hexagonale.<br />
  \ - Intégration d'une couche gérant les interactions avec les cases grâce aux map area.<br />
  #test
  
  = hidden_field_tag :width, width_map
  = " - Largeur : #{pixel_width}"
  %br
  = " - Décalage : #{offset_width}"
  %br
  = " - Hauteur : #{pixel_height}"
  %br
  = " - Largeur de la carte (case) : #{width_map}"
  %br
  = " - Position de la souris :"
  %span#mouse-x 0
  \-
  %span#mouse-y 0
  
  .map