%h1
  %span Test de rendu
  
.col-100

  - height = 26
  - width = 48
  - width_map = 15
  - offset = (width_map - 1) * 0.75 * width
  %h2 Prototype n°2
  %h3 Caractéristiques
  \- Base hexagonale.<br />
  \- Intégration d'une couche gérant les interactions avec les cases grâce aux map area.<br />
  #test
  .map#proto2
    .inner-map
      - i = 0
      - width_map.times do |y|
        - width_map.times do |x|
          - left = (x - y) * width * 0.75 + offset
          - top  = (x + y) * height / 2

          .case{style: "left: #{left}px; top: #{top}px;", class: "x#{x} y#{y}", id: "proto2-case-#{i}"}
          - i = i + 1

    .action-map
      %img{usemap: '#map'}
      %map{name: 'map'}
        - i = 0
        - width_map.times do |y|
          - width_map.times do |x|
            - left = (x - y) * width * 0.75 + offset
            - top  = (x + y) * height / 2
      
            %area{ href: "#", shape: "polygon", coords: "#{left + width * 0.25}, #{top}, #{left + width * 0.75}, #{top}, #{left + width}, #{top + height / 2}, #{left + width * 0.75}, #{top + height}, #{left + width * 0.25}, #{top + height}, #{left}, #{top + height / 2}", id: "proto2-area-#{i}" }

            - i = i + 1