%h1
  %span Test de rendu
  
.col-100

  - height = 26
  - width = 48
  - width_map = 24
  - offset_width  = (width_map * 2 - 2) * 0.75 * width / 2
  - pixel_width  = offset_width * 2 + width
  - pixel_height = height * width_map

  %h2 Prototype n°2
  %h3 Caractéristiques
  \ - Base hexagonale. Isométrique partielle (pas de rotation à 45%)<br />
  \ - Intégration d'une couche gérant les interactions avec les cases grâce aux map area.<br />
  \ - Intégration d'une bordure de carte collant exactement à sa forme hexagonale.s
  
  #test

  = " - Nombre de cases affichées :"
  %span#area-length
  %br
  = " - Position de la souris :"
  %span#mouse-x ?
  \-
  %span#mouse-y ?
  %br
  = " - Distance par rapport au centre :"
  %span#distance ?
  %br
  = " - Slide :"
  %span#slide Non
  %br
  = " - Vitesse du slide: "
  %span#slide-speed 0

  .map