!!! Strict
%html
  %head
    %title= title
    = favicon_link_tag       "icon/favicon.ico"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    #container
      #header
        #nav-account
          %span#clock= Time.now.strftime "%F %T"
          = image_tag "icon/clock-frame.png"
          %p
            - if true
              Lulin | 7 PA
            - else
              Connexion

        #title
          = link_to image_tag("design/title.png", :alt => "Titre de l'en⁻tête", :style => "visibility: hidden"), root_path
        
        #menu
          %ul
            %li
              = link_to t('title.register') + ' !', register_path

      #main
        %p#ariane
        = yield
        .wrapper
        
    #footer
      \~ Lulin &copy; 2013 ~